@import "tailwindcss";

@theme inline {
  --color-background: #0A0A0B;
  --color-foreground: #E0E0E0;

  --color-obsidian: #0A0A0B;
  --color-surface: #161618;

  --color-cyan: #00F2FE;
  --color-violet: #892CDC;
  
  --color-off-white: #E0E0E0;
  --color-muted: #A0A0A0;

  --radius-extreme: 32px;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
